button,
.button {
  --button-bg: var(--color-primary);
  --button-text: var(--color-dark);
  --button-x-padding: 2em;
  --button-y-padding: 1.1em;
  --button-gutter: 0.5ch;
  --focus-color: var(--color-primary);
  --button-border-width: 2px;
  --button-border-color: transparent;

  display: inline-flex;
  gap: var(--button-gutter);
  align-items: center;
  line-height: var(--leading-flat);
  position: relative;
  border: none;
  cursor: pointer;
  background: var(--button-bg);
  color: var(--button-text);
  padding: var(--button-y-padding) var(--button-x-padding);
  text-transform: uppercase;
  letter-spacing: var(--uppercase-kerning);
  text-decoration: none;
  font-size: var(--font-size-fluid-0);
  font-weight: var(--font-weight-6);
  border: var(--button-border-width) solid var(--button-border-color);
}

button,
.button:hover {
  filter: brightness(105%);
}

button:active,
.button:active {
  transform: scale(99%);
}

/* Variant exceptions */
button[data-button-variant='secondary'],
.button[data-button-variant='secondary'] {
  --button-bg: var(--color-light);
  --button-text: var(--color-dark);
  --focus-color: var(--color-dark);
  --button-border-color: var(--color-dark);
}