.card {
  --focus-color: var(--color-primary);
  /* border: var(--stroke); */
  border-radius: var(--radius-s);
  padding: var(--space-s-m);
  position: relative;
}

.card__heading {
  font-size: var(--size-step-00);
  text-transform: uppercase;
  letter-spacing: var(--uppercase-kerning);
  color: var(--color-light);
}

.card__meta {
  --flow-space: var(--space-s);

  font-size: var(--size-step-2);
  line-height: var(--leading-flat);
}

.card__content {
  margin-block-start: var(--space-l);
}


.card img {
  /* aspect-ratio: 1/1; */
  object-fit: cover;
  border-radius: var(--radius-s);
}

.card .button {
  --flow-space: var(--space-l);
}

.card:has([href]:hover) {
  background: rgb(from var(--color-light) r g b / 5%);
  transition: background var(--transition-fade);
}