.hero {
  --container-max-width: var(--wrapper-lg);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(0, auto) 1fr;
  justify-items: center;
  position: relative;
  border-radius: var(--radius-m);
  overflow: hidden;
}

.hero img {
  grid-column: 1;
  grid-row: 1/4;
}

.hero::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 50%) 100%);
}