/* to make long-form content as readable as possible */

.prose {
  --flow-space: var(--size-fluid-2);
  --container-max-width: var(--wrapper-md);
}

.prose :is(h1, h2, h3) {
  overflow-wrap: anywhere;
  hyphens: auto;
}

.prose :is(p, li, dl, figcaption, blockquote) {
  /* max-width: 60ch; */
  text-wrap: pretty;
}

.prose :is(h1, h2, h3, h4)+*:not([class]) {
  --flow-space: var(--size-fluid-2);
}

/* Add more space on and around figures and tables */
.prose :is(figure, table),
.prose :is(figure, table)+* {
  --flow-space: var(--size-fluid-4);
}

/* Add more space to headings on block start */
.prose *+ :is(h1, h2, h3, h4):not([class]) {
  --flow-space: var(--size-fluid-4);
}

.prose :is(ul, ol):not([class]) li+li,
.prose :is(ul, ol):not([class]) li> :is(ol, ul) {
  --flow-space: var(--size-fluid-1);
}

.prose hr {
  --flow-space: var(--size-fluid-3);
}

.prose :is(img, picture, video) {
  border: var(--stroke-solid);
}