header a {
  text-decoration: none;
}

/* a grid wrapper */
.site-head {
  display: grid;
  grid-template-columns: max-content 1fr;
}

/* '#main-nav' */
body > header nav {
  display: var(--display, none);
  grid-column: 1 / span 2;
  justify-self: var(--justify, center);
}

body > header nav ul {
  display: flex;
  flex-direction: var(--flex-direction, column);
  gap: var(--gutter);
}

@media (width >= 35em) {
  body > header nav {
    --justify: end;
    --display: flex;
    grid-column: 2;
  }
  body > header nav ul {
    --flex-direction: row;
  }
  #hamburger {
    --nav-button-display: none;
  }
}

/* Mobile menu button */

#hamburger {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  display: var(--nav-button-display, flex);
  gap: 0.5em;
  justify-self: end;
  font-size: var(--size-step-1);
}

#hamburger[aria-expanded="true"] + #main-nav {
  --display: flex;
}

/* hamburger icon from https://remixicon.com/ */
#hamburger > span {
  display: flex;
}

#hamburger > span::after {
  content: "";
  background-image: url(/images/svg/menu-line.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* height: 24px; */
  height: var(--size-step-1);
  /* width: 24px; */
  width: var(--size-step-1);
  /* min-height: 24px;
  min-width: 24px; */
}

#hamburger[aria-expanded="true"] > span::after {
  background-image: url(/images/svg/close-line.svg);
}
