body > header nav {
  display: flex;
  gap: var(--gutter);
}

body > header nav ul {
  display: flex;
  gap: var(--gutter);
  list-style: none;
}

header a {
  text-decoration: none;
}

.site-head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gutter);
  justify-content: space-between;
}
