<section class="region" id="beliefs">
    <div class="container" data-layout="full-bleed">
        <header>
            <h2>It doesn't have to be this way</h2>
        </header>
        <p>With the right strategies and support, you can break free from these challenges and build a thriving, sustainable business that works for you — not the other way around.</p>
    </div>
</section>

<style>

#beliefs {
    background-color: var(--surface-3);
    }

</style>