<section id="full-bleed">
    <br-container>
        <header class="">
            <h2>It doesn't have to be this way</h2>
        </header>
        <p>With the right strategies and support, you can break free from these challenges and build a thriving, sustainable business that works for you—not the other way around.</p>
    </br-container>
</section>


<style>
#full-bleed {
    // background-color: var(--jungle-3);
    // --container-max-width: 100%;
    // background-image: var(--gradient-15);
}

</style>
