<section class="" id="benefits">
    <br-container>

        <br-grid class="">
            <header class="">
                <hgroup>
                    <section-label>Benefits</section-label>
                    <h2>Unlock Your Full Potential</h2>
                    <p>Not only can we help you overcome your business challenges, but you'll also enjoy these game-changing perks that will transform your professional life.</p>
                </hgroup>
            </header>

            <br-grid-item>
                <article>
                    <h3>Skyrocket Your Productivity</h3>
                    <p>Our tailored time management strategies help you accomplish more in less time. You'll finally break free from overwhelm and have energy left for what truly matters.</p>
                </article>
                <article>
                    <h3>Attract Dream Clients</h3>
                    <p>With our proven marketing techniques, you'll effortlessly draw in your ideal customers. Watch your business grow as you work with clients who value your expertise and are eager to pay premium rates.</p>
                </article>
                <article>
                    <h3>Amplify Your Influence</h3>
                    <p>Our personal branding helps you stand out. You'll gain more speaking engagements, media opportunities, and high-profile collaborations, expanding your reach and impact.</p>
                </article>

            </br-grid-item>

        </br-grid>
    </br-container>
</section>

<style>

#benefits {
    background-color: var(--color-bg-darker);
}

</style>