<section class="" id="features">
    <br-container>
        <header class="">
            <hgroup>
                <h2>Features</h2>
                <p>Component to display text and image.</p>
            </hgroup>
        </header>

        <br-grid class="">
            <br-grid-item>
                <p>Featured image can go either left or right.</p>
            </br-grid-item>
            
            <img src="https://placehold.co/778x438?text=Hello+Ruby">

        </br-grid>
    </br-container>
</section>

<style>

#features {
    background-color: var(--gray-2);
}

#features br-grid-item {
    background-color: var(--gray-3);
    height: 100%;
}

</style>