<section class="region" id="features">
    <div class="container">
        <header class="">
            <hgroup>
                <h2>Features</h2>
                <p>Component to display text and image.</p>
            </hgroup>
        </header>

        <div class="grid">
            <div>
                <p>Featured image can go either left or right.</p>
            </div>
            
            <img src="https://placehold.co/778x438?text=Hello+Ruby">

        </div>
    </div>
</section>

<style>

#features {
    // background-color: var(--gray-2);
}

#features .grid > div {
    background-color: var(--gray-3);
    height: 100%;
}

</style>