<section class="" id="problems">
    <br-container>
        <header class="">
            <hgroup>
                <section-label>Problem</section-label>
                <h2>Is Your Business Stuck in Neutral?</h2>
                <p>67% of small businesses fail within the first 10 years. Don't let yours be one of them.</p>
            </hgroup>
        </header>

        <br-grid class="">

<%# TODO: should I refactor the `br-grid-item` to a `br-card` component? Would that make more sense? %>
            <article>
                <h3>Overwhelm and Burnout</h3>
                <p>Are you working longer hours but seeing diminishing returns? Do you feel like you're constantly putting out fires instead of growing your business?.</p>
            </article>
            
            <article>
                <h3>Inconsistent Cash Flow</h3>
                <p>Does the feast-or-famine cycle keep you up at night? Are you struggling to predict your income from month to month?</p>
            </article>

            <article>
                <h3>Lack of Scalability</h3>
                <p>Is your business overly dependent on you, making it hard to take time off? Do you find yourself saying "no" to opportunities because you're already stretched thin?</p>
            </article>

        </br-grid>
    </br-container>
</section>

<style>

#problems {
    // --gradient-22: linear-gradient(to bottom right, rgba(172, 182, 229, 0.7), rgba(134, 253, 232, 0.7));
    background-color: var(--gray-2);
    // background-image: var(--gradient-22);
}

#features br-grid-item {
    background-color: var(--gray-3);
    height: 100%;
}

</style>