<section class="" id="process">
    <br-container>
        <header class="">
            <hgroup>
                <p>Process</p>
                <h2>Your Path to Business Transformation</h2>
                <p>Achieving your business goals has never been easier. Our streamlined process takes you from struggle to success in just three simple steps.</p>
            </hgroup>
        </header>

        <br-grid class="">

<%# TODO: should I refactor the `br-grid-item` to a `br-card` component? Would that make more sense? %>
            <article>
                <h3>1. Book Your Strategy Session</h3>
                <p>Schedule a free 30-minute call to discuss your business challenges and goals, so we can tailor our approach to your unique needs.</p>
            </article>
            
            <article>
                <h3>2. Implement Your Custom Growth</h3>
                <p>We'll work together to execute a personalized strategy, combining proven tactics and innovative solutions to overcome obstacles and maximize your potential.</p>
            </article>

            <article>
                <h3>3. Celebrate Your Business Breakthrough</h3>
                <p>Watch your business thrive as you enjoy increased revenue, a steady stream of ideal clients, and the freedom to focus on what you love most./p>
            </article>

        </br-grid>
    </br-container>
</section>

<style>

#process {
    --gradient-22: linear-gradient(to bottom right, rgba(172, 182, 229, 0.7), rgba(134, 253, 232, 0.7));
    background-color: var(--gray-2);
    // background-image: var(--gradient-22);
}

</style>