---
layout: default
---

<%= render "hero" %>

<grid-container data-layout="content">
</grid-container>
<section class="container">
    <%= yield %>
</section>

<%= render "features" %>

<%= render "full_bleed" %>