---
layout: default
---

<section class="region">
  <div class="container flow">
    <hgroup>
      <h1><%= data.title %></h1>
      <p><%= data.subtitle %></p>
    </hgroup>
    <%= yield %>
  </div>
</section>