/* ************************ */
/* TODO: Fix the left margin conflict with PicoCSS */
/* ************************ */

body > footer {
    background: var(--color-dark);
    /* background-image: var(--gradient-23); */
    color: var(--color-light);
    font-size: var(--font-size-fluid-0);
}

body > footer nav > ul > li {
    padding: 0;
}

body > footer > .grid {
    /* --background-color: var(--color-dark); */
    background-image: var(--gradient-23);
}

body > footer .grid {
    /* --grid-layout-columns: 2fr 1fr 1fr; */
    --external-link: url("/images/svg/external-link-light.svg");
    padding: var(--gutter);
}

body footer > footer {
    display: flex;
    justify-content: center;
}

body > footer nav:not(#social) {
    display: flex;
    flex-direction: column;
}

body > footer nav > ul {
    align-items: start; 
    display: flex;
    flex-direction: column;
    margin-inline-start: 0;
}

body > footer .grid #social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--size-fluid-1);
}

body > footer .grid nav#social > a {
    color: var(--color-light);
    color: #c2c7d0; /* Pico text color  */
}

body > footer .grid nav#social > a:hover {
    color: var(--color-primary);
}

