/* Global variables */

:root {
  --border-radius: 0.5rem;

  --gutter: var(--size-fluid-2);
  --padding-inline: var(--size-fluid-2);
  --padding-block: var(--size-fluid-5);

  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;

  --color-primary: var(--stone-6);
  --color-dark: var(--stone-10);
  --color-light: var(--stone-0);

}

/* Global styles */

body {
  color: var(--color-dark);
  background: var(--color-light);
  font-size: var(--font-size-fluid-0);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* make the footer 'sticky' */
main {
  flex-grow: 1;
}

blockquote {
  border-inline-start: 0.8rem solid var(--color-primary);
  padding: var(--space-m-l);
  font-size: var(--size-step-2);
}

blockquote > * + * {
  margin-block-start: var(--space-m-l);
}

blockquote :last-child {
  font-family: var(--font-base);
  font-style: normal;
  font-size: var(--size-step-1);
}

svg {
  block-size: 2ex;
  inline-size: auto;
  flex: none;
}

[role="list"] {
  padding: 0;
}

/* Base interactive elements */

a {
  color: currentcolor;
}

a:hover {
  text-decoration: underline solid var(--color-primary) 2px;
  text-underline-offset: 0.25em;
  transition: var(--transition-fade);
}

:focus {
  outline: 3px solid;
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-top: 2ex;
}

main:focus {
  outline: none;
}


/* Base selection styles that invert whatever colours are rendered */
/* ::selection {
  background: var(--color-primary);
  color: var(--color-light);
} */

.preload-transitions * {
  transition: none !important;
}
