.section-header {
  text-align: center;
}

/* need to limit paragraph length */
.section-header p {
  max-width: var(--size-content-3);
  margin-inline: auto;
}

header > hgroup > p {
  --flow-space: var(--space-2xs);
  max-width: var(--size-content-3);
}


/* TODO: add `lite-vimeo` */
lite-youtube,
lite-vimeo {
  aspect-ratio: 16 / 9;
}

/* CARD */
article {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: var(--space-m-l);
  box-shadow: var(--shadow-4);
  padding: var(--space-s);
  background-color: var(--surface-2);
}
article > .article-body {
  flex: 1;
}

.section-label {
  font-size: var(--step--1);
  text-transform: uppercase;
  font-weight: var(--font-weight-7);
  color: var(--brand);
}

