<grid-container data-layout='full-bleed' class="container">
    <header class="">
        <h2>This is a full-bleed component</h2>
    </header>
    <p>Because sometimes you absolutely positively <em>must</em> have a full-bleed component!</p>
</grid-container>