<br-container id="full-bleed">
    <header class="">
        <h2>This is a full-bleed component</h2>
    </header>
    <p>Because sometimes you absolutely positively <em>must</em> have a full-bleed component!</p>
</br-container>


<style>
#full-bleed {
    background-color: var(--orange-2);
    --container-max-width: 100%;
}

</style>
