<header role="banner">
  <div class="site-head wrapper">

   <a href="/" class="logo">
      <%= metadata.title %>
    </a>

    <button 
      id="hamburger" 
      aria-label="Menu" 
      aria-expanded="false" 
      aria-controls="main-nav">
        Menu
    </button>

    <nav id="main-nav" class="main-nav">
        <ul role="list">
            <% site.data.nav.each do |item| %>
                <li><%= link_to item.title, item.url %></li>
            </li>
            <% end %>
        </ul>
    </nav>

  </div>
</header>