<%# TODO: refactor into a component with multiple versions %>
<section class="hero flow">
    <br-container>
        <hgroup>
            <h1><%= markdownify data.title %></h1>
            <p><%= markdownify data.subtitle %></p>
        </hgroup>
    </br-container>
</section>