<nav id="mainnav" class="main-nav" aria-label="Main">
    <ul role="list" id="main-nav-ul">
        <% site.data.nav.each do |item| %>
            <li><%= link_to item.title, item.url %></li>
        <% end %>
    </ul>
</nav>